@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container mt-5">
    <div class="alert alert-warning text-center" role="alert">
        <h4 class="alert-heading">Bu Tarihe Ait Rezervasyon Mevcut</h4>
        <p>Lütfen Başka Bir Tarih İçin Rezervasyon Belirleyiniz.</p>
        <hr>
        <button class="btn btn-primary" onclick="history.back()">Geri Dön</button>
    </div>
</div>
